@charset "UTF-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #3A320F;
	background-color: #B1A284;
	background-image: url(images/parkway_east_chiropractic_01.jpg);
	background-repeat: repeat-x;
	background-position: top;
	margin-top: 0px;
	margin-bottom: 0px;
}
#wrapper {
	margin: auto;
	height: auto;
	width: 827px;
}
#header {
	background-image: url(images/parkway_east_chiropractic_03.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 70px;
	width: 828px;
}
#img_top {
	background-image: url(images/parkway_east_chiropractic_05.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 259px;
	width: 825px;
}
#c_top {
	background-image: url(images/parkway_east_chiropractic_06.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 21px;
	width: 827px;
}
#c_bg {
	background-image: url(images/parkway_east_chiropractic_07.jpg);
	background-repeat: repeat-y;
	float: left;
	height: 100%;
	width: 827px;
}
#c_bottom {
	background-image: url(images/parkway_east_chiropractic_10.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 31px;
	width: 827px;
}
#c_left {
	float: left;
	height: 100%;
	width: 178px;
	padding-left: 30px;
}
#content {
	float: left;
	height: 100%;
	width: 550px;
	padding-left: 30px;
}
#nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	width: 500px;
	padding-left: 290px;
	padding-top: 22px;
}
#nav a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #CCFF66;
	text-decoration: none;
	display: block;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #CCFF33;
	padding-right: 6px;
	padding-left: 6px;
	float: left;
}
#nav a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
#nav ul {
	padding-left: 0px;
	list-style-type: none;
	margin-left: 0px;
}
#nav li {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}
#copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-align: center;
}
.box1 {
	float: left;
	height: auto;
	width: 230px;
	border: thin solid #FFFFFF;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FF9900;
	width: 500px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #B1A284;
	float: left;
}
.text2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #009966;
	width: 500px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #B1A284;
	float: left;
}
.box2 {
	background-color: #E9E6DD;
	border: medium groove #FFFFCC;
	padding: 6px;
}
.box2 a {
	background-color: #E5E3D9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC6600;
	text-decoration: none;
	display: block;
	padding: 5px;
	width: 146px;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #D9D7CA;
}
.box2 a:hover {
	background-color: #CFBE9A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.box {
	background-color: #FFCC66;
	border: thick dotted #CC6600;
	padding: 5px;
}
